<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upload Your Image</title>
    <script type="text/javascript" src="scripts/jquery-3.3.1.js"></script>

  </head>
  <body>
    <form enctype="multipart/form-data" method="post" action="/upload_img">
      <label for="img-upload">Choose an Image to upload: </label>
      <input type="file" name="img-upload" id="img-upload">
      <input type="submit" name="img-upload" value="Submit">
    </form>


    <!-- <script type="text/javascript" src="scripts/upload-image.js"></script> -->
  </body>
</html>
